{% extends "layout/layout.html.twig" %}

{% block title %}LyricsCandidate : {{ title }}{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-10 content" id="mainApp">
                <br>
                <input type="hidden" name="videoId" value="{{ videoId }}">
                <input type="hidden" name="title" value="{{ title }}">
                <input type="hidden" name="thumbnail" value="{{ thumbnail }}">
                <div id="lyrics-candidate"></div>
            </div>
            <div class="col-md-2 sidebar">
                <br>
            </div>
        </div>
    </div>

{% endblock %}