<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133320926-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-133320926-1',{
      'custom_map': {
        'dimension3': 'ua',
        'dimension4': 'uri_js'
      },
      'ua': navigator.userAgent,
      'uri_js': location.pathname
    });
//    gtag('event', 'ip_address_dimension', {'ip_address': dimensionValue});
    </script>

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="/asset/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {# my css #}
    <link href="/asset/css/base.css" rel="stylesheet">
    <link href="/asset/css/bootstrapOver.css" rel="stylesheet">

    <link rel="shortcut icon" href="/asset/img/favicon.ico" />
</head>
<body style="padding-top: 70px;">

<div>
    <div>
        {% include 'layout/header.html.twig' %}
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/asset/js/bootstrap.min.js"></script>
<!-- Vue 開発バージョン、便利なコンソールの警告が含まれています -->
{#<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>#}
{# my js #}
<script src="/asset/js/change.js"></script>
{% if activeHeader == 'content2' %}
{% endif %}
{% if activeHeader == 'watch' %}
    <link href="/asset/vueDist/css/watch.css" rel="stylesheet">
    <script src="/asset/vueDist/js/chunk-vendors.js"></script>
    <script src="/asset/vueDist/js/watch.js"></script>
{% endif %}
{% if activeHeader == 'edit' %}
    <link href="/asset/vueDist/css/edit.css" rel="stylesheet">
    <script src="/asset/vueDist/js/chunk-vendors.js"></script>
    <script src="/asset/vueDist/js/edit.js"></script>
{% endif %}
{% if activeHeader == 'lyrics-candidate' %}
    <link href="/asset/vueDist/css/lyricsCandidate.css" rel="stylesheet">
    <script src="/asset/vueDist/js/chunk-vendors.js"></script>
    <script src="/asset/vueDist/js/lyricsCandidate.js"></script>
{% endif %}
</body>
</html>